body {
    background-color: rgb(165, 24, 24);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
}
